<section id="home_hero" class="hero text-center pb-5">
  <h1 class="display-1 fw-800 mb-3" style="line-height: 1.05;">
    <span class="d-block">Everlum Bio</span>
    <span class="d-block background-gradient">The future of therapeutic discovery</span>
  </h1>
  <div class="col-lg-6 mx-auto">
    <p class="fs-4 mt-5" style="line-height: 1.25;">
      <span class="d-block">Simplifying genetic solutions</span>
      <span class="d-block pb-2">Making it easier then ever to design an ASO</span>
    </p>
    <div class="d-flex flex-column flex-md-row justify-content-center align-items-center mt-4">
      <a href="/dna_codes"><button type="button" class="btn btn-dark btn-lg" style="width: 250px;">DNA Explorer →</button></a>
  
    </div>
  </div>    
</section>
