<% content_for :meta_title, "About us" %>

<div class="page container py-5 mt-4 ps-5" style="max-width: 990px">
  <h1>About us</h1>
  
  <h2 class="h2">First few words</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Numquam autem, quos maiores inventore quisquam, velit tenetur fugit aspernatur, aut odit officia nihil commodi assumenda cum tempora! 
    Doloribus eius, dolores error?
  </p>

  <figure>
      <blockquote cite="https://www.huxley.net/bnw/four.html">
          <p>Words can be like X-rays, if you use them properly—they’ll go through anything. You read and you’re pierced.</p>
      </blockquote>
      <figcaption>—Aldous Huxley, <cite>Brave New World</cite></figcaption>
  </figure>

  <h2 class="h2">Our company</h2>
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

  <h2 class="h2">Last words</h2>
  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</p>
  <p>Eos quam tempora et quia fugit sed dolor suscipit qui voluptatum galisum qui fugit quisquam! Et debitis porro vel recusandae harum et culpa necessitatibus et veniam possimus et suscipit odit quo veniam quisquam voluptatem consequatur. Sed iusto sunt non reprehenderit sunt nam itaque veritatis quo ipsam distinctio est suscipit possimus sit molestias facilis qui enim alias.</p>
</div>
